*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #ebebeb;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}
.board{
  width: 70vmin;
  height: 70vmin;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(20,1fr);
  webkit-box-shadow: 28px 26px 78px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 28px 26px 78px -16px rgba(0,0,0,0.75);
box-shadow: 28px 26px 78px -16px rgba(0,0,0,0.75);
}
.food{
  background-color: red;
  border: 1px solid black;
}
.snake{
  background-color: lime;
  z-index: 3;
}
.body{
  background-color: yellowgreen;
 
}
.controller{
  display: none;
  
}
#up , #left , #right , #down{
  background-color: #5f5f59;
  border: 2px solid;
  border-radius:5px ;
  text-align: center;
  color: #a8a8a8;
}
#up{
  grid-row-start: 1;
  grid-column-start: 2;
}
#left{
  grid-row-start: 2;
  grid-column-start: 1;
}
#right{
  grid-row-start: 2;
  grid-column-start: 3;
}
#down{
  grid-row-start: 3;
  grid-column-start: 2;
}
.score{
  position: absolute;
  top: 15px;
  font-family: 'silkscreen', cursive;
  font-size: 2rem;
}
.settings{
  position: absolute;
  font-size: 22px;
  left:2vw;
  top: 3vh ;
}
.set-box.visible{
  position: absolute;
  width: 20vw;
  height: 5vh;
  background-color: #f2f2f2;
  border: 1px solid;
  top: 5vh;
  left: 4vw;
  padding-left: 5px;
  display: inline;
/*   opacity: 1; */
}
.set-box{
/*   opacity: 0; */
  display: none;
  position: absolute;
  width: 50vw;
  height: 5vh;
  background-color: #f2f2f2;
  border: 1px solid;
  top: 58vh;
  left: 9vw;
  padding-left: 5px;
}
.set-box input {
  position: absolute;
  top: 40%;
  width: 80%;
}
@media all and (max-width:520px){
.controller{
   width: 50vmin;
  height: 50vmin;
/*   background-color: red; */
  position: absolute;
  bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  
}
  .board{
     width: 80vmin;
  height: 80vmin;
    position: absolute;
top: 15%;


    
  }
  .settings{
  top: 55vh ;
}
.set-box.visible{
  position: absolute;
  width: 50vw;
  height: 5vh;
  background-color: #f2f2f2;
  border: 1px solid;
  top: 58vh;
  left: 9vw;
  padding-left: 5px;
  opacity: 1;
}
.set-box{
  opacity: 0;
  position: absolute;
  width: 50vw;
  height: 5vh;
  top: 58vh;
  left: 9vw;
  padding-left: 5px;
}
.set-box input {
  position: absolute;
  top: 40%;
  width: unset;
}
}
